.card {
    width: 220px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.54);
    border-radius: 5px;;
    margin: 12px;
    padding: 6px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.card .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.54);
}

.card .datesBox {
    font-size: 12px;
}

.card .datesBox span {
    display: block;
    text-decoration: underline;
    margin: 5px 0;;
}

.card .cardHeader .deleteNoteBtn {
    cursor: pointer;
    transition: .1s;
}

.card .cardHeader .deleteNoteBtn:hover {
    color: red;
    transform: scale(1.2);
}

.card h2 {
    margin: 0;
}

@media(max-width: 540px) {
    .card { width: 100%; }
}