.singleItemRow {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.singleItemRow span {
    display: inline-block;
    width: 150px;
}

.singleItemRow button { cursor: pointer; }