form.addNoteForm {
    max-width: 370px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,.54);
    border-radius: 5px;
    padding: 24px;

}

.addNoteTitle { text-align: center; text-decoration: underline;}

.formControl label,
.rowAddItem label{
    width: 100px;
    display: inline-block;
    box-sizing: border-box;
}

.formControl input{
    width: calc(100% - 100px);
    padding: 6px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
    box-sizing: border-box;

}

.rowAddItem {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.rowAddItem .addItemBtn{
    padding: 0 5px;
    text-align: center;
    margin-left: 8px;
    border: 1px solid rgba(0,0,0,.54);
    cursor: pointer;
}

.rowAddItem input[type="text"]{
    width: calc(100% - 135px);
    padding: 6px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
    box-sizing: border-box;
}

.addNoteBtn {
    border: 1px solid green;;
    background: inherit;
    padding: 6px 18px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;;
    width: 100%;
    margin-top: 12px;
}

.addNoteBtn:hover {
    color: #fff;
    background: green;
}

.listItemContainer {
    height: 100px;
    overflow-y: auto;
}